* {
  margin: 0;
  padding: 0;
}

.total_main {
  padding: 0 10%;
}

.test {
  width: 100%;
}

.header {
  /* background-color: rgba(232, 208, 51, 0.874); */
  background-color: gold;
  display: flex;
  justify-content: space-between;
  padding: 10px 9%;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
}

.ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
ul li {
  color: gray;
  text-decoration: none;
  padding: 0 6px;
  font-size: 15px;
}

/*  */
.coloryellow {
  color: rgb(251, 222, 31);
  color: #ffd700;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bth {
  background-color: rgba(237, 19, 19, 0.963);
  color: whitesmoke;
  padding: 1.5px;
  border: 1px solid red;
  margin-left: 60%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dotted-line {
  border-top: 1px dotted gray;
  width: 100%;
}

.container {
  margin-top: 20px;
}

.free {
  padding-top: 5px;
  font-weight: 400;
}

.paragraph {
  margin-top: 10px;
  color: black;
  line-height: 2;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.ft {
  font-family: "Kotta One", serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 50px;
}

.image-grid img {
  width: 100%;
  height: 150px;
}

.image-grid p {
  max-width: 100%;
}

.main_container {
  margin: 0 10%;
}

.mega {
  margin-top: 10px;
  margin-bottom: 10px;
  color: gray;
  font-weight: 300;
}

/*  */

.footer {
  display: flex;
  justify-content: center;
  padding: 0 5%;

  background-color: rgba(232, 208, 51, 0.874);
  flex-wrap: wrap;
  line-height: 1.5;
}

.footer ul {
  list-style-type: none;
  margin-top: 10px;
}

.footer ul li {
  margin-top: 6px;
}

.sectiona,
.sectionb,
.sectionc,
.sectiond {
  padding: 49px;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
}

.main_end {
  display: flex;
  background-color: rgb(244, 209, 6);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.bbb {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.aa {
  list-style: none;
  padding-right: 186px;
  display: inline;
}

.image-grid img {
  border: 5px solid rgba(245, 245, 245, 0.595);
  box-shadow: 0px 3px 10px black;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    justify-content: center;
  }
  #placeholder {
    margin-top: 10px;
  }
  .footer {
    display: flex;
    margin-top: 5px;
  }
  .lett {
    margin-top: 6px;
  }
  .section1,
  .section2 {
    display: flex;
  }

  .sectiona,
  .sectionb,
  .sectionc,
  .sectiond {
    /* padding: 0 20px;  */
    padding: 0px;
  }
  .aaa ul li {
    padding: 5px;
  }

  #copy {
    margin-left: 6px;
  }
  .bbb {
    padding: 1px;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .paragraph {
    line-height: 1.5;
  }
  .ft {
    line-height: 1.5;
  }
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}

.aaa {
  padding-top: 20px;
}

@media only screen and (min-width: 600px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    /* gap: 20px;  */
  }
}

@media only screen and (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  }
}

@media only screen and (min-width: 992px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));

    /* gap: 20px;  */
  }
}
