* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgba(232, 208, 51, 0.874);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
ul li {
  color: gray;
  text-decoration: none;
  padding: 0 5px;
}

/*  */
.coloryellow {
  color: rgba(232, 208, 51, 0.874);
}

.bth {
  background-color: rgba(237, 19, 19, 0.963);
  color: whitesmoke;
  padding: 1.5px;
  border: 1px solid red;
  margin-left: 60%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dotted-line {
  border-top: 1px dotted gray;
  width: 100%;
}

.container {
  margin-top: 20px;
}

.free {
  padding-top: 5px;
  font-weight: 400;
}

.paragraph {
  margin-top: 8px;
  font-size: medium;
  font-weight: 100;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 50px;
}

.image-grid img {
  width: 100%;
  height: 150px;
}

.image-grid p {
  max-width: 100%;
}

.main_container {
  margin: 0 10%;
}

.mega {
  margin-top: 10px;
  margin-bottom: 10px;
  color: gray;
  font-weight: 300;
}

/*  */
/* .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: rgba(232, 208, 51, 0.874);

  color: rgba(39, 38, 38, 0.593);
  padding: 20px;
}

.footer-section {
  flex: 1 1 25%;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.2em;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}
.lett {
  margin-bottom: 10px;
} */

.footer {
  display: flex;
  justify-content: center;
  padding: 0 5%;

  background-color: rgba(232, 208, 51, 0.874);
  flex-wrap: wrap;
}

.footer ul {
  list-style-type: none;
  margin-top: 10px;
}

.footer ul li {
  margin-top: 6px;
}

.sectiona,
.sectionb,
.sectionc,
.sectiond {
  /* padding: 20px;  */
  padding: 49px;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
}
/* 
.end {
  display: flex;
  background-color: rgb(244, 209, 6);
  justify-content: space-around;
  flex-wrap: wrap;
}

.bbb {
  display: flex;
}
.end ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.end ul li {
  text-decoration: none;
}
.bb_b {
  margin-top: 8px;
} */
/* .main_footer {
  margin: 0 100px;
} */

.main_end {
  display: flex;
  background-color: rgb(244, 209, 6);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
}

.bbb {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.aa {
  list-style: none;
}

.image-grid img {
  border: 5px solid rgba(245, 245, 245, 0.595); /* Border color and thickness */
  box-shadow: 0px 3px 10px black; /* Box shadow */
}

@media (max-width: 600px) {
  #placeholder {
    margin-top: 10px;
  }
  .footer {
    display: flex;
    margin-top: 5px;
  }
  .lett {
    margin-top: 6px;
  }
  .section1,
  .section2 {
    display: flex;
  }

  .sectiona,
  .sectionb,
  .sectionc,
  .sectiond {
    /* padding: 0 20px;  */
    padding: 0px;
  }
  .aaa ul li {
    padding: 5px;
  }
  #copy {
    margin-left: 6px;
  }
  .bbb {
    padding: 1px;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    /* gap: 20px;  */
  }
}

@media only screen and (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    /* gap: 25px;  */
  }
}

@media only screen and (min-width: 992px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));

    /* gap: 20px;  */
  }
}
